.DS_Store
venv/
cluster_dir/stable-diffusion-v1-4/
cluster_dir/stable-diffusion-v1-5/
cluster_dir/clip-vit-large-patch14
cluster_dir/stable-diffusion-inpainting

# Ignoring local images except for testing imgs
cluster_dir/imgs/*
!cluster_dir/imgs/text2img_rm_image.png
!cluster_dir/imgs/inpainting_rm_image.png
!cluster_dir/imgs/.gitkeep

cluster_dir/inpainting_imgs_test/*
!cluster_dir/inpainting_imgs_test/img2.png
!cluster_dir/inpainting_imgs_test/mask2.png