certifi
charset-normalizer
diffusers
filelock
huggingface-hub
idna
importlib-metadata
numpy
packaging
Pillow
pyparsing
PyYAML
regex
requests
scipy
tokenizers
tqdm
transformers
typing_extensions
urllib3
zipp
